h4 {
    margin-top: 40px;
    background: linear-gradient(to right, #6DA6DB, #F2C79D); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
  

  .search-container input {
    background-color: rgba(109, 166, 219, 0.23);
    width: 800px;
    height: 48px;
    border-radius: 16px;
    border-style: solid;
    border-color: black;
  }


/* تأكيد أن التقويم يغطي عرض الصفحة بالكامل */
.react-calendar {
  width: 100% !important;
  max-width: 100%;
}



  /* تلوين التاريخ المحجوز باللون الأحمر */
/* التأكد من تلوين التواريخ المحجوزة باللون الأحمر */
.react-calendar__tile.reserved-date {
  background-color: red !important;
  color: white !important;
  border-radius: 50%;
  text-align: center;
}

/* النص الذي يظهر تحت التاريخ المحجوز */
.reserved-label {
  color: white;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
