.all-btn{
  display: flex;
  gap: 50px;
  margin-top: 80px;
}

.create-btn{
    height: 60px;
    width: 200px;
    font-weight: bolder;
}


.reservation-dates-table h3 {
  margin-top: 120px; 
}


.create-btn {
  transition: box-shadow 0.3s ease;
}

.create-btn:hover {
  box-shadow: 0px 4px 8px 0px rgba(242, 199, 157, 0.8); 
}


.book-now-btn {
  background-color: #F2C79D;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.book-now-btn:hover {
  background-color: #6DA6DB;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



.create-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.create-btn:hover {
  background-color: #0056b3; 
  transform: translateY(-3px);
}

.create-btn:active {
  transform: translateY(1px); 
}

.create-btn-container {
  text-align: center; 
  margin-top: 10px; 
}

.table td button {
  margin: 0 auto; 
  display: block; 
  width: 150px; 
}
